<html lang="en">

<%- include('./partials/nav.ejs') %>

<body>
  
  <%- include('./partials/nav.ejs') %>
  
  <div class="not-found content">
    <h2>404 Page</h2>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <h2>All Blogs</h2>
  </div>
  
  <%- include('./partials/footer.ejs') %>

</body>
</html>