<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Ninja | <%= title %></title>

  <!-- NOT public/style.css ONLY style.css for referencing styles -->
  <!-- Public Folder is Set in app.js file -->
  <link rel="stylesheet" type="text/css" href="/style.css">

  <!--
  <style type="text/css">
    div {
      content: ';)';
    }
  </style>
  -->
</head>